* {
  margin: 0;
  padding: 0;
}

body {
  padding: 30px;
}

.slider {
  width: 320px;
  padding: 0;
  height: 300px;
  overflow: auto;
  white-space: nowrap;
}

.slider ul {
  margin: 0 52px;
  display: inline-block;
}

.slider li {
  display: inline-block;
  position: relative;
  height: 200px;
  width: 200px;
  background-size: cover;
  white-space: nowrap;
  margin: 0 8px;
}

.slider img {
  display: none;
}
